{% extends "backoffice/base.twig" %}

{% block meta %}
    <meta name="description" content="Backoffice">
{% endblock %}


{% block main %}
<form action="" method="POST">
    <input name="title" type="text">
    <textarea name="content"></textarea>
    <input type="submit" value="ajouter">
</form>

{% endblock %}