{% extends "base.twig" %}

{% block meta %}
    <meta name="description" content="">
{% endblock %}


{% block main %}
        <div class="article">
            <h2 class="title">{{ article.title }}</h2>
        </div>
        <div class="img-article">
            <img src="{{ article.image }}" alt="">
        </div>
        <div class="content-article">
            <p>{{ article.chapo }}</p>
        </div>
        <div class="content-article">
            <p>{{ article.content }}</p>
        </div>
{% endblock %}
