{% extends "base.twig" %}

{% block meta %}
    <meta name="description" content="">
{% endblock %}


{% block main %}
        <div class="article">
            <h2 class="title">Titre</h2>
        </div>
        <div class="img-article">
            <img src="/public/images/img.png" alt="">
        </div>
        <div class="content-article">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum odio dignissimos vitae amet quam voluptatibus. Quibusdam doloribus asperiores, cum consequuntur eos sequi, ex nisi obcaecati unde quas earum corporis qui culpa velit mollitia ducimus quo, exercitationem repellendus. Eaque, ipsa facilis? Saepe praesentium sequi repudiandae veniam totam asperiores quaerat. Obcaecati, nisi?</p>
        </div>
{% endblock %}
