{% extends "base.twig" %}

{% block meta %}
    <meta name="description" content="">
{% endblock %}


{% block main %}
    <div class="categories">
            <a class="category-btn" href="#">Category X</a>
            <a class="category-btn" href="#">Category X</a>
            <a class="category-btn" href="#">Category X</a>
            <a class="category-btn" href="#">Category X</a>
        </div>
        </div>
        <div class="articles mentions-articles">
            <div class="others">
                    <div class="others-articles">
                    <img src="/public/images/img.png" alt="">
                    <div class="info-article">
                        <h2 class="title">Titre d'article</h2>
                        <p class="content-articles">Contenu d'article Lorem ipsum dolor sit amet.Contenu d'article Lorem ipsum dolor sit amet.Contenu d'article Lorem ipsum dolor sit amet.Contenu d'article Lorem ipsum dolor sit amet.Contenu d'article Lorem ipsum dolor sit amet.</p>
                        <a href="">En savoir plus</a>
                    </div>
                </div>
                <div class="others-articles">
                    <img src="/public/images/img.png" alt="">
                    <div class="info-article">
                        <h2 class="title">Titre d'article</h2>
                        <p class="content-articles">Contenu d'article Lorem ipsum dolor sit amet.</p>
                        <a href="">En savoir plus</a>
                    </div>
                </div>
                <div class="others-articles">
                    <img src="/public/images/img.png" alt="">
                    <div class="info-article">
                        <h2 class="title">Titre d'article</h2>
                        <p class="content-articles">Contenu d'article Lorem ipsum dolor sit amet.</p>
                        <a href="">En savoir plus</a>
                    </div>
                </div>
                <div class="others-articles">
                    <img src="/public/images/img.png" alt="">
                    <div class="info-article">
                        <h2 class="title">Titre d'article</h2>
                        <p class="content-articles">Contenu d'article Lorem ipsum dolor sit amet.</p>
                        <a href="">En savoir plus</a>
                    </div>
                </div>
                <div class="others-articles">
                    <img src="/public/images/img.png" alt="">
                    <div class="info-article">
                        <h2 class="title">Titre d'article</h2>
                        <p class="content-articles">Contenu d'article Lorem ipsum dolor sit amet.</p>
                        <a href="">En savoir plus</a>
                    </div>
                </div>
                <div class="others-articles">
                    <img src="/public/images/img.png" alt="">
                    <div class="info-article">
                        <h2 class="title">Titre d'article</h2>
                        <p class="content-articles">Contenu d'article Lorem ipsum dolor sit amet.</p>
                        <a href="">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>        
{% endblock %}
