{% extends "base.twig" %}

{% block meta %}
    <meta name="description" content="">
{% endblock %}


{% block main %}
        <div class="contacts">
            <div class="img-covert">
                <img src="/public/images/contact.png" alt="">
            </div>
            <div class="contact">
                <div class="info">
                    <p class="title">Blog</p>
                    <p class="mail">Mail: miguelsj.pro@gmail.com</p>
                    <p class="tel">Tel: +33642184765</p>
                </div>
                <div class="contact-form">
                    <p class="title">Nous contacter</p>
                    <form action="" method="post">
                        <div class="bloc-form">
                            <label>Nom:</label>
                            <input type="text" id="first_name" name="first_name">
                        </div>
                        <div class="bloc-form">
                            <label>Prenom:</label>
                            <input type="text" id="last_name" name="last_name">
                        </div>
                        <div class="bloc-form">
                            <label>Mail:</label>
                            <input type="text" id="email" name="email">
                        </div>
                        <div class="bloc-form">
                            <label>Tel:</label>
                            <input type="text" id="tel" name="tel">
                        </div>
                        <div class="bloc-form bloc-textarea">
                            <label>Votre besoin:</label>
                            <textarea name="besoin" id="besoin" cols="30" rows="10"></textarea>
                        </div>
                        <div class="btn-form">
                            <button type="submit" name="action" class="btn-submit">Envoyer</button>
                        </div>
                        
                    </form>
                </div>
                
            </div>
        </div>
{% endblock %}
