<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Connexion Backoffice</title>
	<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
	<link rel="icon" href="/images/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/public/css/style.css">

	<!-- Fonts and icons -->
	<script src="/public/js/backoffice/plugin/webfont/webfont.min.js"></script>
	<script>
		WebFont.load({
			google: {"families":["Lato:300,400,700,900"]},
			custom: {"families":["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['/public/css/backoffice/fonts.min.css']},
			active: function() {
				sessionStorage.fonts = true;
			}
		});
	</script>
	
	<!-- CSS Files -->
	<link rel="stylesheet" href="/public/css/backoffice/bootstrap.min.css">
	<link rel="stylesheet" href="/public/css/backoffice/atlantis.css">
</head>
<body class="login">
	<div class="wrapper wrapper-login">
		<div class="container container-login animated fadeIn">
			<h3 class="text-center">Connexion</h3>
			<form method="POST" action="" class="login-form">
				<div class="form-group">
					<label for="email" class="placeholder"><b>Email</b></label>
					<input id="email" name="email" type="email" class="form-control" placeholder="Votre email" required>
				</div>
				<div class="form-group">
					<label for="password" class="placeholder"><b>Mot de passe</b></label>
					<div class="position-relative">
						<input id="password" name="password" type="password" class="form-control" placeholder="Mot de passe" required>
						<div class="show-password">
							<i class="icon-eye"></i>
						</div>
					</div>
				</div>
				<div class="form-group form-action-d-flex">
					<button type="submit" class="btn btn-primary mt-2 w-100">Se connecter</button>
				</div>
			</form>
		</div>
	</div>
	<ul id="notifications">
    {% for notif in notifications %}
      <li class="{{notif.type}}">{{notif.msg}}</li>
    {% endfor %}
    </ul>
	<script src="/public/js/backoffice/core/jquery.3.2.1.min.js"></script>
	<script src="/public/js/backoffice/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
	<script src="/public/js/backoffice/core/popper.min.js"></script>
	<script src="/public/js/backoffice/core/bootstrap.min.js"></script>
	<script src="/public/js/backoffice/atlantis.min.js"></script>
</body>
</html>