{% extends "base.twig" %}

{% block meta %}
    <meta name="description" content="">
{% endblock %}


{% block main %}
    <div class="mentions">
        <h2>Mentions légales</h2>
        <div class="mentions-content">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime assumenda, doloribus dignissimos iste tempore tempora nesciunt doloremque ipsum minus vel. Quibusdam, quo consequatur aliquam quis inventore impedit a id beatae, ullam necessitatibus, ipsa optio. Dolorem dicta veniam, alias sequi repellat eos voluptatibus temporibus quod id labore quo repudiandae expedita consequuntur?</p>

        </div>
    </div>
{% endblock %}
